.intro {
  height: 100%;
  overflow: auto;
}
.fix {
  padding-top: 100px;
  padding-bottom: 100px;
}

#addBook {
  width: 100%;

  /* fallback for old browsers */
  background: #755333;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(218, 130, 16),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgb(218, 130, 16),
    rgba(37, 117, 252, 1)
  );
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
